body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Header */
ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

li>* {
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 400;
}

.header {
    flex-grow: 1;
    display: flex;
    background-color: #1f2937;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.left-margin,
.right-margin {
    min-width: 200px;
}

.header-logo-box,
.header-links-box {
    flex-grow: 1;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    color: #f9faf8;
}

.header-links {
    display: flex;
}

.header-logo-box {
    display: flex;
    justify-content: start;
}

.header-links-box {
    display: flex;
    justify-content: end;
}

/* Hero */
.hero {
    display: flex;
    background-color: #1f2937;
    padding-top: 10px;
    padding-bottom: 90px;
    gap: 0;
}

.hero-text-box,
.hero-image-box {
    flex-grow: 1;
    flex-basis: 40%;
}

.hero-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}


.hero-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero-image {
    display: flex;
    justify-content: end;
    white-space: nowrap;

}

.hero-text-1,
.hero-text-2 {
    color: #f9faf8;
    font-family: "Roboto", sans-serif;
}

.hero-text-1 {
    font-size: 48px;
    font-weight: 600;
}

.hero-text-2 {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 400;
}

.sign-up {
    background-color: #3882f6;
    text-align: center;
    color: #f9faf8;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    border-radius: 7px;
    border: none;
}

/* Info */
.info {
    display: flex;
}

.info-text,
.tile-text {
    font-family: "Roboto", sans-serif;
}

.info-box {
    flex-grow: 1;
}

.info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    padding-top: 40px;
    padding-bottom: 40px;
}

.info-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-bottom: 80px;
}

.info-tile {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tile-img {
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 10px;
    border: solid;
    border-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-text {
    width: 200px;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    overflow-wrap: break-word;
}

/* Quote */
.quote {
    display: flex;
    background-color: #e5e7eb
}

.quote-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
}

.quote>.left-margin,
.quote>.right-margin {
    min-width: 500px;
}

.quote-box {
    padding-top: 100px;
    padding-bottom: 100px;
}

.author {
    text-align: end;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

/* Call to action */
.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    flex-grow: 1;
    display: flex;
    background-color: #3882f6;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: space-between;
    border-radius: 7px;
}

.action-content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.action-content>* {
    color: white;
    font-family: "Roboto", sans-serif;
}

.action-header {
    font-weight: 600;
    font-size: 18px;
    flex-grow: 1;
}

.sign-up-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-button {
    background-color: #3882f6;
    text-align: center;
    color: #f9faf8;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-style: solid;
    border-radius: 7px;
    border-color: white;
}