body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Header */
ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

li>* {
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 400;
}

.header {
    flex-grow: 1;
    display: flex;
    background-color: #1f2937;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.left-margin,
.right-margin {
    min-width: 200px;
}

.header-logo-box,
.header-links-box {
    flex-grow: 1;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    color: #f9faf8;
}

.header-links {
    display: flex;
}

.header-logo-box {
    display: flex;
    justify-content: start;
}

.header-links-box {
    display: flex;
    justify-content: end;
}

/* Hero */
.hero {
    display: flex;
    background-color: #1f2937;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 5px;
}

.hero-text-box,
.hero-image-box {
    flex-grow: 1;
}

.hero-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    flex-basis: 50%;
    margin-right: 10px;
}

.hero-text-box {
    flex-basis: 50%;
    margin-left: 10px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero-image {
    display: flex;
    justify-content: end;
    white-space: nowrap;

}

.hero-text-1,
.hero-text-2 {
    color: #f9faf8;
    font-family: "Roboto", sans-serif;
}

.hero-text-1 {
    font-size: 48px;
    font-weight: 600;
}

.hero-text-2 {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 400;
}

.sign-up {
    background-color: #3882f6;
    text-align: center;
    color: #f9faf8;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    border-radius: 7px;
    border: none;
}

/* Info */
.info {
    display: flex;
}

.info-box {
    flex-grow: 1;
}

.info-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.tile-img {
    padding: 20px;
    border-radius: 10px;
    border: solid;
    border-color: #3882f6;
}

.tile-text {
    text-align: center;
}